/* Primary Nav Block */
#primary_nav {
    background-color: #111;
    display: none;
}
@media (min-width: 768px) {
    #primary_nav {
        display: block;
    }
}

/* Primary Nav Wrapper */
@media (max-width: 767px) {
    #nav_inner {
        margin: 0 -15px;
    }
}

/* Primary Nav Items */
ul.nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.nav li {
    list-style: none;
}
ul.nav li span,
ul.nav li a {
    padding: 15px 15px;
    display: block;
    color: #aaa;
}
ul.nav li span {
    cursor: default;
}
ul.nav li a {
    text-decoration: none;
}
ul.nav li a:hover {
    color: #fff;
}

ul.nav li.active {
    background-color: #222;
    color: #fff;
}
ul.nav li.active span {
    color: #fff;
}
@media (min-width: 768px) {
    ul.nav li {
        float: left;
    }
    ul.nav li span,
    ul.nav li a {
        padding: 15px 10px;
    }
}
