{include:head.html}
<main id="page_content">
    <div id="content_inner" class="width_wrapper two_column">
        <div class="column column1">
            <div class="contentBox">
                {content:column1}
            </div>
            <div class="contentBox">
                {content:column2}
            </div>
            <div class="contentBox">
                {content:column3}
            </div>
        </div>
        <div class="column column2">
            <div class="contentBox">
                {content:column4}
            </div>
            <div class="contentBox">
                {content:column5}
            </div>
            <div class="contentBox">
                {content:column6}
            </div>
        </div>
    </div>
</main>
{include:foot.html}
